Html{
    text-align: center;
    display: table;
    margin: 0 auto;
}
#ImgSize{
    height: 280px;
}
#introduction{
    font-family: 'Caveat', cursive;
    font-size: 25px;   
}
.Infos{
    color: #53928a;
    font-family: 'Sigmar', cursive;
    font-size: 2rem;
}
.EducWorkExpSkills{
    font-family: 'Caveat', cursive;
    font-size:25px  ;
}
#Others{
    font-family: 'Caveat', cursive;
    font-size:25px  ;
}
.othersfont{
    font-family: 'Caveat', cursive;
    font-size:20px;
}
#Copyrights{
    color: rgb(6, 26, 145);
}
.align {
    display: table;
    margin: 0 auto;
}
#ProfilePicture{
    margin:0 auto;
}
hr{
    background-color:#FFEEB3;
}
